fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
scipy==1.11.4
mne==1.6.1
numpy==1.26.4
librosa==0.10.2
PyWavelets==1.6.0
Pillow==10.3.0
pydantic==2.7.1
torch==2.2.2
torchvision==0.17.2